.body-login{
    background-color: #09F;
}
.login-background {
	background-color: #09F;
}

.login-background > h2{
	text-align: center;
	padding-top: 200px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
	font-size: 40px;
}

.login-form{
	text-align: center;
	padding-top: 20px;
}

.login-form > input{
	height: 30px;
	width: 200px;
	padding: 0px 10px;
}

.login-form > button {
	display: block;
	margin: 0 auto;
	width: 7%;
	height: 30px;
	border: none;
	background-color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	color: #000;
}

.login-form > button:hover {
	background-color: #CCC;
}


.login-form > h3 {
	font-size: 15px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;	
}

.login-form > h3 > a {
	text-decoration: none;
	color: #FFF;	
}

.login-form > h3 > a:hover {
	color: #333;	
}